<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.d30.binClock"
    android:versionCode="16"
    android:versionName="0.4.6" >
    
	<uses-sdk 
        android:targetSdkVersion="16" 
        android:minSdkVersion="7" />
	
	<uses-feature 
	    android:name="andreoid.software.live_wallpaper" 
	    android:required="false" />
	
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        
        <!-- WIDGET -->
        <receiver android:name="pl.d30.binClock.widget.BinaryWidgetReceiver"></receiver>
        
        <receiver
            android:name=".widget.BinaryWidgetProvider"
            android:icon="@drawable/icon"
            android:label="@string/app_name">
            
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />

        </receiver>
        
        <activity android:name=".widget.BinaryWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <!-- LIVE WALLPAPER -->
        <service 
            android:name=".wallpaper.BinaryWallpaperService" 
            android:enabled="true"
            android:permission="android.permission.BIND_WALLPAPER"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            
            <meta-data 
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper_info">
            </meta-data>
            
        </service>
        
        <activity
            android:label="@string/app_name"
            android:name=".wallpaper.BinaryWallpaperConfiguration"
            android:theme="@android:style/Theme.Light.WallpaperSettings"
            android:exported="true">
        </activity>
                
    </application>

</manifest>