<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.d30.binClock" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:theme="@style/MyTheme"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <receiver
            android:name=".Provider"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <!-- The two below are just for the reference -->
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />

        </receiver>


        <service android:name=".ClockService" />

        <activity
            android:name=".Configuration"
            android:label="Binary Clock Widget" >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>

    </application>
</manifest>
